@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h3 {
  font-family:  monospace;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0ch
  }
  100% {
    width: 12ch;
  }
}

@keyframes blink-border {
  0%, 100% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: pink;
  }
}

@layer utilities {
  .animate-blink {
    animation: blink .5s alternate infinite;
  }

  .animate-typing {
    animation: typing 2s steps(12), 
    blink-border 0.5s step-end infinite alternate;
    border-right: 3px solid pink;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
  }

}



